/* start of repetitive code*/

/*
    Main Navigation
*/
body > header {
    background-color:  rgba(21,12,3,0.9);
}
body > header .navbar {
    height: 70px;
}
body > header .logo {
    width: 240px;
}
body > header .logo-image {
    width: 145px;
}
body > header .navbar .offcanvas {
    background-color: #150c03;
}
body > header .offcanvas-header {
    filter: invert(1);
}
body > header .navbar-nav li a {
    font-size: 2em;
    line-height: 1.8em;
    text-transform: capitalize;
}

/*
    Main content
*/

main header {
    background-color: #150c03;
}
.bg-brown{
    background-color: #150c03;
}
main header .splash-image {
    background-size: cover;
    height: 215px;
    margin-top: -70px;
}
main header h1 {
    color: #fff;
}
main header h1 + hr {
    color: #936848
}

@media (min-width: 768px) {
    body > header .navbar {
        height: 125px;
    }
    body > header .logo {
        width: 460px;
    }
    body > header .navbar-nav li a {
        font-size: 18px;
    }

    body > footer .footer {
        background-color: #150c03;
        margin-top: -170px;
        min-height: 300px;
        padding: 120px 0 40px;
    }
    body > footer .footer .logo-image {
        width: 225px;
    }

    main header .splash-image {
        height: 450px;
        margin-top: -125px;
    }
}


/* end of repetitive code*/

main header .splash-image#splash-image-contact-us{    
    background: url("../images/banner-contact-us.png") no-repeat; /* added id, so that all the part of code can be used in all the pages*/
}

/* Main */
.banner {    
    position: relative;
 }
 .banner .cover {
     object-fit: cover;
     width: 100%;
     height: 300px;
 }
 .banner h1{
     position: absolute;
     bottom: 30px;
     left: 5%;
     color: #ffffff;
 }
 .contact-form{
     background-color: #150C03;
     color: #ffffff;
 }
 .contact-form > .row{
     padding-top: 100px;
 }
 .contact-form input, textarea.form-control{
     background-color: rgba(147,104,72,0.5);
     border: none;
     color: #ffffff;
     font-family: "Rubik", Arial, Helvetica, sans-serif;
 }
 .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
     color: #ffffff;
     opacity: 1; /* Firefox */
 }
 
 .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
     color: #ffffff;
 }
 
 .form-control::-ms-input-placeholder { /* Microsoft Edge */
     color: #ffffff;
 }
 
 .address-map{
     margin-top: 100px;
     margin-bottom: 100px;
 }
 .address-map .contact-details{
   width: 100%;
   height: auto;
 }
 .address-map .contact-details i{
     margin-right: 14px;
     font-size: 1.4rem;
 }
 .contact-details i.bi-envelope-at + span {
     font-family: "Rubik", Arial, Helvetica, sans-serif;
 }
 .collaborate{
     margin-bottom: 100px;
 }
 
 