.text-justify { /* Was removed from bootstrap... */
    text-align: justify;
    text-justify: inter-word;
}
/*
    Main Navigation
*/
body > header {
    background-color:  rgba(21,12,3,0.9);
}
body > header .navbar {
    height: 70px;
}
body > header .logo {
    width: 240px;
}
body > header .logo-image {
    width: 145px;
}
body > header .navbar .offcanvas {
    background-color: #150c03;
}
body > header .offcanvas-header {
    filter: invert(1);
}
body > header .navbar-nav li a {
    font-size: 2em;
    line-height: 1.8em;
    text-transform: capitalize;
}
/*
    Footer
*/
body > footer .footer {
    background-color: #150c03;
    margin-top: -40px;
    min-height: 80px;
    padding: 20px 0;
}
body > footer .footer .logo-image {
    width: 175px;
}
body > footer .vr {
    color: #936848;
}

/*
    Main content
*/
main header, main section {
    background-color: #150c03;
}
main header .splash-image {
    background: url("../images/events-bg.png") no-repeat;
    background-size: cover;
    height: 215px;
    margin-top: -70px;
}
main header h1 {
    color: #fff;
}
main header h1 + hr {
    color: #936848
}
/*
    Cards
*/
.card {
    background-color: rgba(248,184,3, 0.1);
    color: #fff;
}
.card h2 {
    font-size: 18px;
}
.card .card-subtitle {
    color: #f8b803;
}
.card .card-body.date {
    background-color: #f8b803;
    color: #000;
}
.card .card-body.date span {
    font-family: "Hammersmith One", Arial, Helvetica, sans-serif;
}
.card a.btn { /* Read More */
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #f8b803;
    border: #f8b803 solid 2px;
    background-color: transparent;
}
.card a.btn:hover, .card a.btn:active {
    background-color: rgb(248, 184, 3, .1);
}


@media (min-width: 768px) {
    body > header .navbar {
        height: 125px;
    }
    body > header .logo {
        width: 460px;
    }
    body > header .navbar-nav li a {
        font-size: 18px;
    }

    body > footer .footer {
        background-color: #150c03;
        margin-top: -170px;
        min-height: 300px;
        padding: 120px 0 40px;
    }
    body > footer .footer .logo-image {
        width: 225px;
    }

    main header .splash-image {
        height: 450px;
        margin-top: -125px;
    }
    .card h1 {
        font-size: 30px;
    }
    .card .card-body.date div:nth-child(2) {
        margin-top: -40px;
    }
    .card .card-body.date div:nth-child(1) span {
        font-size: 96px;
    }
    .card .card-body.date div:nth-child(2) span {
        font-size: 48px;
    }
}