
/* start of repetitive code*/

/*
    Main Navigation
*/
body > header {
    background-color:  rgba(21,12,3,0.9);
}
body > header .navbar {
    height: 70px;
}
body > header .logo {
    width: 240px;
}
body > header .logo-image {
    width: 145px;
}
body > header .navbar .offcanvas {
    background-color: #150c03;
}
body > header .offcanvas-header {
    filter: invert(1);
}
body > header .navbar-nav li a {
    font-size: 2em;
    line-height: 1.8em;
    text-transform: capitalize;
}

/*
    Main content
*/

main header {
    background-color: #150c03;
}
.bg-brown{
    background-color: #150c03;
}
main header .splash-image {
    background-size: cover;
    /* background: url("../images/events-bg.png") no-repeat; */ 
    height: 215px;
    margin-top: -70px;
}
main header h1 {
    color: #fff;
}
main header h1 + hr {
    color: #936848
}


@media (min-width: 768px) {
    body > header .navbar {
        height: 125px;
    }
    body > header .logo {
        width: 460px;
    }
    body > header .navbar-nav li a {
        font-size: 18px;
    }

    body > footer .footer {
        background-color: #150c03;
        margin-top: -170px;
        min-height: 300px;
        padding: 120px 0 40px;
    }
    body > footer .footer .logo-image {
        width: 225px;
    }

    main header .splash-image {
        height: 450px;
        margin-top: -125px;
    }
}

/* end of repetitive code */



.slick-prev:before,.slick-next:before {
    color: #F8B803;
    font-size: 30px;
}

   
.slick-prev {
    left: 10px; 
    z-index: 1;
}

.slick-next {
    right: 10px; 
    z-index: 1;
}
.slick-carousel {
    width: 100%;
    height: 500px;
    margin-top: -70px;
}

.slide {
    position: relative;
    width: 100%;
    height: 500px;
}

.slide .slide-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.slide-image.slide1{
    background-image: url('../images/tradeshow-booth-1.png');
}
.slide-image.slide2{
    background-image: url('../images/bar-event-1.jpg');
}

.slide-image.slide3{
    background-image: url('../images/new-year-event.jpg');
}
.overlay {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
}
.overlay-text {    
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
.overlay-text h3{
    color: #F8B803;
}

.overlay-text a{
    color: #000000;
}

.home-beers{
    background-size: cover;
    background: url("../images/beer-bg.png") no-repeat;
    height: 450px;
}
.home-beers span{
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 40px;
}
.home-beers  a{
    color: #000000;
}
#our-beers{
    font-size: 48px;
}
span.font-orange-accent{
    font-style: italic;
    color: #FF6347;
}

/* mobile*/
@media (max-width: 767.98px) {
    .overlay {            
        bottom: 0;
    }
    .overlay-text {  
        padding: 20px;
        padding-left: 60px;  
    }
    .overlay-text h2{
        font-size: 22px;
    }    
    .overlay-text h3{
        font-size: 15px;
    }

    
}

/* desktop*/
@media (min-width: 768px) {
    .overlay-text h2{
        font-size: 30px;
    }
    
    .overlay-text h3{
        font-size: 18px;
    }
    
    .slick-carousel {
        width: 100%;
        height: 500px;
        margin-top: -125px;
    }
}

/*
    Quote section
*/
.parallax-bg {
    /* The image used */
    background: url("../images/home-parallax-bg.png") no-repeat center;
    /* Set a specific height */
    height: 200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-size: cover;
}
.parallax-bg div {
    color: #fff;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-style:italic;
    line-height: 28px;
}
.parallax-bg div span {
    font-weight: bold;
}
.parallax-bg div span:last-of-type {
    font-size: 26px;
    color:#F8B803
}

@media (min-width: 768px) {
    .parallax-bg {
        height: 300px;
    }
    .parallax-bg div {
        font-size: 32px;
        line-height: 42px;
    }
    .parallax-bg div span:last-of-type {
        font-size: 38px;
    }
}