
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Hammersmith+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.color-r {
    background-color: red;
}
.color-g {
    background-color: green;
}
.color-b {
    background-color: blue;
}


* {
    font-family: "Cabin", Arial, Helvetica, sans-serif;
}
h1 {
    font-family: "Hammersmith One", Arial, Helvetica, sans-serif;
}
h2, h3, h4, h5, h6 {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
}

.text-justify { /* Was removed from bootstrap... */
    text-align: justify;
    text-justify: inter-word;
}

/*
    Buttons
*/
.btn-primary, .btn-outline-primary {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #000;
}
.btn-primary, .btn-primary:link, .btn-primary:visited {
    background-color: #F8B803;
    border-color:#F8B803;
}
.btn-primary:hover, .btn-primary:active {
    background-color: #9c6308;
}
.btn-outline-primary, .btn-outline-primary:link, .btn-outline-primary:visited {
    border: 2px solid #f8b803;
    color: #F8B803;
}
.btn-outline-primary:hover, .btn-outline-primary:active {
    background-color: rgb(248, 184, 3, .2);
    border: 2px solid #f8b803;
    color: #F8B803;
}


/*
    Main Navigation
*/
body > header {
    background-color:  rgba(21,12,3,0.9);
}
body > header .navbar {
    height: 70px;
}
body > header .logo {
    width: 240px;
    height: auto;
}
body > header .logo-image {
    width: 145px;
}
body > header .navbar .offcanvas {
    background-color: #150c03;
}
.navbar-toggler {
    filter: invert(1);
}
.offcanvas-header {
    filter: invert(1);
}
body > header .navbar-nav li a {
    font-family: "Hammersmith One", Arial, Helvetica, sans-serif;
    font-size: 2em;
    line-height: 1.8em;
    text-transform: capitalize;
    color: #fff;
}
body > header .nav-link:link, 
body > header .nav-link:visited {
    color: #fff;
}
body > header .nav-link:hover,
body > header .nav-link:active,
body > header .navbar-nav .nav-link.active {
    color: #f8b803;
}

/*
    Splash image
*/
main header {
    background-color: #150c03;
}
.bg-brown{
    background-color: #150c03;
}
main header .splash-image {
    height: 215px;
    margin-top: -70px;
}
main header h1 {
    color: #fff;
}
main header h1 + hr {
    color: #936848
}


/*
    Footer
*/
body > footer .footer {
    background-color: #030F05;
    margin-top: -8vw;
    min-height: 80px;
    padding: 5vw 0 20px;
}
body > footer .footer .logo-image {
    width: 175px;
}
body > footer .vr {
    color: #936848;
}
body > footer p:first-child  {
    color: #f8b803;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    font-size: 18px;
}



/* Footer*/
footer {
    color: #ffffff;
}
.footer-lower{
    background-color:#150C03;
}

footer .footer-links{
    text-align: center;
}
.footer-links li{
    float: left;
    list-style: none;
}

.footer-links li a{    
    font-family: "Hammersmith One", Arial, Helvetica, sans-serif; 
    text-decoration: none;  
}
.footer-links li a::after {
    content: '|';
    padding-left: 1em; 
    padding-right: 1em;
    color: #ffffff !important;
}
.footer-links li:last-child a::after {
    content: '';
}
body > footer a:link,
body > footer a:visited,
body > footer h3{
    color: #ffffff;
}

body > footer a:hover,
body > footer a:active{
    color: #edc491;
}

.social-icons a{
    margin-right: 30px;
    text-decoration: none;
}
.social-icons a:last-child{
    margin-right: 0px;
}
.social-icons i{
    font-size: 30px;
}

.social-icons a svg{
    fill: #000000;
    margin-top: -10px;
}
.social-icons a i, .social-icons a:link i,
.social-icons a:visited i{
    color: #000000;
}
.social-icons a:link svg,
.social-icons a:visited svg{
    fill: #000000;
}
.social-icons a:hover i,
.social-icons a:active i{
    color: #F8B803;
}

.social-icons a:hover svg,
.social-icons a:active svg{
    fill: #F8B803;
}

.social-icons-footer a{
    margin-right: 30px;
    text-decoration: none;
}
.social-icons-footer a:last-child{
    margin-right: 0px;
}
.social-icons-footer i{
    font-size: 30px;
}
.social-icons-footer a i{
    color: #ffffff;
}
.social-icons-footer a svg{
    fill: #ffffff;
    margin-top: -10px;
}
.social-icons-footer a:link i,
.social-icons-footer a:visited i{
    color: #ffffff;
}
.social-icons-footer a:link svg,
.social-icons-footer a:visited svg{
    fill: #ffffff;
}
.social-icons-footer a:hover i,
.social-icons-footer a:active i{
    color: #edc491;
}

.social-icons-footer a:hover svg,
.social-icons-footer a:active svg{
    fill: #edc491;
}
footer .contact-details{
    width: 100%;
    height: auto;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
footer .contact-details i{
    margin-right: 14px;
    font-size: 1.4rem;
    color: #F8B803;
}


.copyright {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #c08659;
}

.footer-links li a{     
    font-size: 14px;
}



/* waves */
.waves { /* SVG waves */
    display: block;
    width: 100%;
    height: 45px;
    max-height: 150px; /* Control the wave intensity */
}
.gentle-waves {
    height: 40px;
    min-height: 40px;
}
/* 
    Individual animation per line, move the SVG in a linear way 
*/
.parallax1>use {
    fill: #FF6347;
    animation:move-forever1 8s linear infinite;
   
        animation-delay: -2s;
    
}
.parallax2>use {
    fill: #F8B803;
    animation:move-forever2 6s linear infinite;
    
        animation-delay: -2s
    
}
.parallax3>use {
    fill: #FFFFFF;
    animation:move-forever3 4s linear infinite;
   
        animation-delay: -2s
   
}
.iframe-map{
    width: 100%;
}
@keyframes move-forever1 {
    0% {
        transform:translate(-90px,0%)
    }
    100% {
        transform:translate(85px,0%)
    }
}
@keyframes move-forever2 {
    0% {
        transform:translate(85px,0%)
    }
    100% {
        transform:translate(-90px,0%)
    }
}
@keyframes move-forever3 {
    0% {
        transform:translate(-90px,0%)
    }
    100% {
        transform:translate(85px,0%)
    }
}


@media (min-width: 768px) {
    body > header .navbar {
        height: 125px;
    }
    body > header .logo {
        width: 460px;
        height: auto;
    }
    body > header .navbar-nav li a {
        font-size: 18px;
    }
    header .navbar-nav li:not(:last-of-type) a::after {
        content: '|';
        padding-left: 1em;
        color: #fff !important;
    }

    main header .splash-image {
        height: 450px;
        margin-top: -125px;
    }

    body > footer .footer {
        min-height: 300px;
    }
    body > footer .footer .logo-image {
        width: 225px;
    }
    .footer-links li a{     
        font-size: 18px;
    }
}